body{
    margin:0;
    overflow-x: hidden;
    font-family: Helvetica, Arial, serif;
}

header{
    width:100%;
    height: 5vh;
    display:flex;
    flex-direction: row;
    background-color:#e63946;
    color:white;
    align-items: center;
    justify-content: center;
}
#logo{
    flex-grow:1;
    margin:10px;
    text-align: center;
}
#titre{
    flex-grow: 4;
    text-align: center;
}


#box1{
    position:absolute;
    width:100vw;
    height: 50vh;
    background-color: #f1faee;
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
}


#browse{
    margin-top:2%;
    margin-bottom:2%;
}


#drop-area {
    text-align: center;
    width:80%;
    height:60%;
    border: 4px dashed black;
    border-radius: 20px;
    font-family: sans-serif;
    margin-top:2%;
    margin-bottom:2%;
    padding: 20px;
    background-image: url("../../assets/plus.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 10%;
}
#box2{
    position:static;
    width:100vw;
    height: 50vh;
    background-color: #f1faee;
    display:flex;
    flex-direction:row;
    align-items: center;
    justify-content: space-evenly;
    right:0;
}
#box3{
    width:100%;
    height: 50vh;
    background-color: black;
    display:flex;
    align-items: center;
    justify-content: center;
}
#box4{
    width:100%;
    background-color: #FFFFFF;
}
footer{
    background-color: #282828;
    width:100%;
    height: auto;
    color:white;
    text-align: center;
}

/* drop area style */
#drop-area.highlight {
    border-color: deepskyblue;
}
p {
    margin-top: 0;
}
.my-form {
    margin-bottom: 10px;
}
#gallery {
    margin-top: 10px;
}
#gallery img {
    width: 150px;
    margin-bottom: 10px;
    margin-right: 10px;
    vertical-align: middle;
}
.button {
    display: inline-block;
    padding: 10px;
    background: #ccc;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid #ccc;
}
.button:hover {
    background: #ddd;
}
#dataFile {
    display: none;
}


#visualisation{
    width:100%;
    height: 100%;
    display:flex;
    align-items: center;
    justify-content: center;
    margin: 3% 6% 3% 3%;
}

#graph{
    width:100%;
    height: 100%;
    display:flex;
    align-items: center;
    justify-content: center;
    margin: 3% 0 3% 3%;
}

#selector{
    width: 100%;
    height: 100%;
    flex-shrink: 4;
}


/*.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}*/


/*.line {
    fill: none;
    stroke: steelblue;
    stroke-width: 1.5px;
}*/

#floorContainer{
    width: 100%;
    height: 100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    vertical-align: center;
}

#legend {
    display:flex;
    flex-direction: column;
    align-items: center;
    vertical-align: middle;
    width:100%;
    height:100%;
    justify-content: space-evenly;
}

#input{
    width: 100%;
    height: 100%;
    display:flex;
    flex-direction: column;
    align-items: center;
}


.legend {
    width: 80%;
    height:1vh;
    color:black;
    display: flex;
    flex-direction:row;
    padding: 10px;
    background: #ccc;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid #ccc;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;

}
.clicked{
    color:white;
}
.selectedMenu{
    background-color: #f1faee;
}

.color{
    width: 25px;
    padding:0;
}
.floor{
    width:25%;
}

@keyframes valid {
    from{
        background-image: url('../../assets/plus.svg');
    }
    to{
        background-image: url("../../assets/correct.svg");
    }
}

@keyframes invalid {
    from{
        background-image: url('../../assets/plus.svg');
    }
    to{
        background-image: url("../../assets/remove.svg");
    }
}

#top_part{
    display:flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    height: 10%;
}

.dropbtn {
    color: black;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    width:50vw;
}

#sub1:hover{
    background-color: #ddd;
}
#sub2:hover{
    background-color: #ddd;
}

#sub1{
    background-color: #ccc;
}

#sub2{
    background-color: #ccc;
}
.dropdown {
    position: relative;
    display: inline-block;
}

#menu{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}

.help{
    height:2vh;
    vertical-align: text-bottom;
}

.arrow{
    height:2vh;
    vertical-align: center;
}



