.dropdown-menu {

      width: 500px;
    }
    .dropdown-submenu {

      width: 500px;
    }

    .dropdown-submenu>.dropdown-menu {
      top: 0;
      left: 100%;
      margin-top: -6px;
      margin-left: -1px;
      -webkit-border-radius: 0 6px 6px 6px;
      -moz-border-radius: 0 6px 6px;
      border-radius: 0 6px 6px 6px;
    }

    .dropdown-submenu:hover>.dropdown-menu {
      display: block;
    }

    .dropdown-submenu>a:after {
      display: block;
      content: " ";
      float: right;
      width: 0;
      height: 0;
      border-color: transparent;
      border-style: solid;
      border-width: 5px 0 5px 5px;
      border-left-color: #ccc;
      margin-top: 5px;
      margin-right: -10px;
    }

    .dropdown-submenu:hover>a:after {
      border-left-color: #fff;
    }

    .dropdown-submenu.pull-left {
      float: none;
    }

    .dropdown-submenu.pull-left>.dropdown-menu {
      left: -100%;
      margin-left: 10px;
      -webkit-border-radius: 6px 0 6px 6px;
      -moz-border-radius: 6px 0 6px 6px;
      border-radius: 6px 0 6px 6px;
    }


    .cd-top.cd-is-visible {
      /* the button becomes visible */
      visibility: visible;
      opacity: 1;
    }
    .cd-top.cd-fade-out {
      /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
      opacity: .5;
    }
    .navbar{
      position: absolute;
    }


.menu_title{
  font-weight: bold;
  margin-bottom: 0.3rem;
  margin-top: 1rem;
}

.myradiobtn{
  padding-left: 0;
  padding-right:0.3rem
}

/* File input size */
.custom-file-label{
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
}


/* Loader */

.triple-spinner {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  margin: -75px 0 0 -75px;

  display: block;
  /*position: relative;*/
  width: 125px;
  height: 125px;
  border-radius: 50%;
  border: 4px solid transparent;
  border-top: 4px solid #432F23;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

.triple-spinner::before,
.triple-spinner::after {
  content: "";
  position: absolute;
  border-radius: 50%;
  border: 4px solid transparent;
}
.triple-spinner::before {
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-top-color: #55302e;
  -webkit-animation: spin 3s linear infinite;
  animation: spin 3.5s linear infinite;
}
.triple-spinner::after {
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border-top-color: #603244;
  -webkit-animation: spin 1.5s linear infinite;
  animation: spin 1.75s linear infinite;
}
     


@-webkit-keyframes spin {
    from {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  

@keyframes spin {
    from {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }


/* #loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
} */

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}

/************* Ideogram **************/

#_ideogram.labeledLeft {
    padding-left: 0px !important;
}

/************* Sidebar **************/

#wrapper {
    padding-top: 0px; /*50px;*/
    padding-left: 0;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}

@media (min-width: 992px) {
    #wrapper {
        padding-left: 300px;/*225px;*/
    }
}

@media (min-width: 992px) {
    #wrapper #sidebar-wrapper {
        width: 300px;/*225px;*/
    }
}

#sidebar-wrapper {
    border-right: 1px solid #e7e7e7;
}

#sidebar-wrapper {
    z-index: 1000;
    position: absolute; /*fixed;*/
    left: 225px;
    width: 0;
    height: 150%;
    margin-left: -225px;
    overflow-y: auto; /*scrollbar du menu*/
    background: #f8f8f8;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}

#sidebar-wrapper .sidebar-nav {
    position: absolute;
    top: 0;
    width: 300px;/*225px;*/
    font-size: 14px;
    margin: 0;
    padding: 0;
    list-style: none;
}

#sidebar-wrapper .sidebar-nav li {
    text-indent: 0;
    line-height: 45px;
}

#sidebar-wrapper .sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #428bca;
}

.sidebar-nav li:first-child a {
    background: #92bce0 !important;
    color: #fff !important;
}

#sidebar-wrapper .sidebar-nav li a .sidebar-icon {
    width: 45px;
    height: 45px;
    font-size: 14px;
    padding: 0 2px;
    display: inline-block;
    text-indent: 7px;
    margin-right: 10px;
    color: #fff;
    float: left;
}

#sidebar-wrapper .sidebar-nav li a .caret {
  position: absolute;
  right: 23px;
  top: auto;
  margin-top: 20px;
}


#sidebar-wrapper .sidebar-nav li ul.panel-collapse {
    list-style: none;
    -moz-padding-start: 0;
    -webkit-padding-start: 10px;
    -khtml-padding-start: 0;
    -o-padding-start: 0;
    padding-start: 0;
    padding-top: 0px;
    line-height: 20px !important;
}


#chrompaint_menu{
  list-style: none;x
  padding-top: 10px;
  line-height: 20px !important;
}


#sidebar-wrapper .sidebar-nav li ul.panel-collapse li i {
    margin-right: 10px;
}

#sidebar-wrapper .sidebar-nav li ul.panel-collapse li {
    text-indent: 15px;
}

@media (max-width: 992px) {
    #wrapper #sidebar-wrapper {
        width: 45px;
    }
    #wrapper #sidebar-wrapper #sidebar #sidemenu li ul {
        position: fixed;
        left: 45px;
        margin-top: -45px;
        z-index: 1000;
        width: 250px;
        height: 0;
    }
}

.sidebar-nav li:first-child a {
    background: #603244 !important; /*#92bce0 !important;*/
    color: #fff !important;
}

.sidebar-nav li:nth-child(2) a {
    background: #55302E !important; /*#6aa3d5 !important;*/
    color: #fff !important;
}

.sidebar-nav li:nth-child(3) a {
    background: #432F23 !important; /*#428bca !important; */
    color: #fff !important;
}

.sidebar-nav li:nth-child(4) a {
    background: #322C20 !important; /*#3071a9 !important;*/
    color: #fff !important;
}

.sidebar-nav li:nth-child(5) a {
    background: #262721 !important; /*#245682 !important;*/
    color: #fff !important;
}

.form-group {
    margin-bottom: 1rem;
    line-height: 20px;
}

/*ligne du menu accession*/
#submenu-3 > li {
    line-height: 20px !important;
}
/*case à cocher accessions*/
#submenu-3 > li > label{
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: normal;
}


textarea
{
    overflow-y:scroll;
}
textarea.form-control {
    width: 90%;
    font-size: 11px;
    font-family: monospace;
}

/*Jumbotron*/
.jumbo-bg{
    background-color: #262721;
    color: grey;
    margin-bottom:0px;
    padding: 10px;
    border-radius: 0 !important;
}
.jumbo-bg > p > img{
    width: 275px;

}

/*Tooltipster*/

.tooltip_templates { 
  display: none; 
}


/*Download as png button*/
#download{
  background : #005B59 !important;
  border-color: black;
  width: 200px;
}

#chrompaint_menu{
  line-height: 20px;
}


/* Legende */
#legend_div {
  margin-top: 5px;
  border:1px dotted black;
  /* width: 95%; */
  background: white;
  /* padding-left: 5px;
  padding-right: 5px; */
}
#floating_legend {
  position: fixed;
  right: 0;
  bottom: 2%;
  /*top: 75%;*/
  /*width: 8em;*/
  z-index: 1;
  margin-top: -2.5em;
}